<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>

        <header>
            
                Travel App
            
            
        </header>

        <main>
            <!-- form section -->
            <section > 
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <h3>Destination</h3>
                    <input id="tripLoc" type="text" name="Location" placeholder="city">
                    <h3>Departure</h3>
                    <input id="depDate" type="date" name="Departure date" placeholder="YYYY-MM-DD">
                    <h3>Returning</h3>
                    <input id="reDate" type="date" name="Returning date" placeholder="YYYY-MM-DD">
                    <input type="submit" id="save"name="" value="save" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>  
            </section>
            <!-- trip information section -->
            <section id = "trip">
                <div id="tripCard">
                    <div id ="tripMainInfo">
                        <span class="bold">My Trip to:</span>
                        <span class="bold" id="myTripToCity"></span>
                        <span class="bold">, </span>
                        <span class="bold" id="myTripToCountry"></span><br>
                        <img id="countryFlags" src="" />
                    </div>
                    <img id="cityImage" src="" alt="City image">
                    <div>
                        <span class="bold">Departing:</span>
                        <span class="bold" id="dateOfDeparting"></span>
                    </div>
                    <div>
                     <span class="bold">The length of the trip is:</span>
                     <span id="daysAway"></span><span> days </span>
                    </div>
                    <div>
                    <span class="bold">Typical weather for then is:</span>
                    
            
                    <span>High- </span>
                    <span id="maxTemp"></span><span>&#8451;</span>
                    <span>, Low- </span>
                    <span id="minTemp"></span><span>&#8451;</span>
    
                    <span>Mostly </span><span id="weatherCondition"></span><span> through the day</span><br>
                    <img id="weatherIcon" src="" />
                
                    
                </div>
                <i id="remove"class="fas fa-trash-alt fa-3x" ></i>
                      

                </div>
            </section>

        </main>

        <footer>
            <p>made with <i class="far fa-heart"></i> by Maimounah </p>
        </footer>
        
        <script >
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }

           </script>
    </body>
</html>
